*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gamja Flower', cursive;
}

a{
  text-decoration: none;
  color: #333;
}

li{
  list-style: none;
}
body{
  background-color: pink;
}